*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  font-size: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.jumbo{
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

header{
  padding: 10px;
}

header .container{
  justify-content: space-between;
  height: 100%;
}

header .container div{
  margin: 0px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

header li{
  margin: 10px 45px;
  color: #eff2fc;
}

header  a{
  color: #eff2fc;
  text-decoration: none;
}
a{
  color: white;
}
.container{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.logo{
  width: 130px;
  height: 50px;
  align-self: end;
}
.menu{
  padding: 10px 5px;
  display: flex;
  list-style: none;
  align-items: center;
}

.bottoni{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.button{
  border-radius: 20px;
  border: 0;
  padding: 6px 14px;
  cursor:pointer;
}

.big{
    border-radius: 20px;
    border: 0;
    padding: 10px 20px;
    margin: 0px 10px;
}

.nero{
  background-color: #23272a;
  color: white;
}

.last{
  margin: 50px auto;
  }

h2{
  color: #23272a;
  margin-bottom: 20px;
}
header h2{
  display: flex;
  justify-content: center;
  color: #fffffe;
  font-size: xxx-large;
}

.txt{
  color: #fcfcff;
  padding: 0 250px;
  margin-top: 20px;
}

.box{
  display: flex;
  padding: 20px;
}

.sector{
  width: 70%;
}

.immagine{
  width: 60%;
  height: 500px;
}


.rosa{
  width: 30%;
  padding: 40px 94px;
  height: 500px;
  font-size: large;
}

.centro{
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.gray{
  background-color: #d3d3d3;
}

.grande{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black{
  background-color: #23272a;
  border: #d3d3d3 solid 0.1px;
}

.avventura{
  background-image: url(../img/stars.svg);
  background-size: contain;
} 

.pink{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.acqua{
  width: 15%;
  color: white;
  font-size: small;
}

.smeraldo{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.blu{
  color:white ;
  background-color: #8ea1e1;
}

h3{
  color: #7289da;
  font-size: x-large;
}

.icon{
  width: 25px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.ita{
  background-image:url(../img/ita.png);
}

.flexato{
  display: flex;
  margin-top: 20px;
  color: white;
  font-size: small;
}

.speciale{
  color:  #7289da;
}

li{
  text-decoration: none;
}

.meno{
  margin-bottom:0px ;
}